<div class="panel panel-default course_list">

  <div class="panel-heading"><%= yield(:list_title) %></div>

  <div class="panel-body">
    <form class="form-vertical">
      <div class="row">
        <div class="col-sm-12">

          <table class="table edit-listings">
            <tbody>
            <% @courses.each do |course| %>
                <tr>
                  <td class="course_list_td">
                    <div class="row">
                      <div class="col-sm-9">
                        <h3><%= link_to course.title.capitalize, course, class: "course_name" %></h3>
                      </div>

                      <div class="col-sm-3">
                        <h3 class="price-text"><strong><%= course.quantity %></strong> left</h3>
                      </div>
                    </div>
                    <p class="muted"><%= course.instructor %></p>

                    <p><%= course.description %></p>
                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
          <%= will_paginate @courses %>
        </div>

      </div>
    </form>
  </div>

</div>